html {
  font: .94em Arial,Helvetica,sans-serif;
}

body {
  width: 100%;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

#logo {
  display: inline-block;
  position: absolute;
  top: -3px;
  width: 100px;
  height: 43px;
  left: -118px;
  margin-right: 18px;
  vertical-align: top;

  background: url(img/iYFGil-w8xoq_2OQvnXq6EwLY.svg) 50% 50% no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.expanded {
  flex-grow: 1;
}

#searchBar {
  max-width: 640px;
  background-color: #ffc93d;
  border-radius: .625rem .375rem .375rem .625rem;
}

#searchButton {
  color: black;
  font-size: 123.1%;
}

#searchInput {
  border-radius: inherit;
  font-size: .94em;
}

#contentDiv {
  box-sizing: border-box;
  max-width: 900px;
  /* width: 70%; */
  margin: auto;
  padding: 49px 10px 58px 166px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

input {
  outline: none;
  border: none;
  margin: .2rem;
  padding: .5rem;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: .5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section h1 {
  font-weight: normal;
  margin: 29px 0 10px;
}

section p {
  font-size: .94em;
}

section {
  box-sizing: border-box;
}

footer a {
  margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 25px;
  font-size: 85%;
  color: #999;
  text-decoration: none;
}

footer a, footer a:visited {
  color: #999;
}

.services {
  margin-top: 38px;
  margin-bottom: 30px;
}

.services img {
  width: 16px;
  height: 19px;
}

.serviceItem {
  flex: 1 1 25px;
}

/* .servicesCol {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 16px 0 0;
  vertical-align: top;
  height: 100px;
} */

.servicesCol {
  display: grid;
  list-style: none;
  padding: 0 16px 0 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#topLine {
  position: relative;
  white-space: nowrap;
}

.servicesIcon {
  max-width: 16px;
  max-height: 19px;
  margin: 0 9px 0 2px;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

a:hover {
  color: #c00!important;
}

a, a:visited {
  color: #0054b9;
  text-decoration: none;
}
